.tabs__button {
    margin: 0 12px;
}
.card-footer {
    display: flex;
    justify-content: flex-end;
}
.tabs__button {
    margin: 0 12px;
}
.block-description-text::before {
    display: block;
    font-size: 8pt;
    color: #6c6c6c;
}
.project-card__stage::before {
    content: "стадия";
}
.file-view {
    display: inline-block;
    padding: 12px;
    text-align: center;
    border: 1px solid aliceblue;
    border-radius: 12px;
}
.file-view__download {
    font-size: 10pt;
    color: #261fff;
    text-decoration: underline;
}
.project-card__title::before {
    content: "наименование";
}
.project-card__department::before {
    content: "отрасль";
}
.vodal-dialog {
    height: 70% !important;
}
.project-card__description::before {
    content: "описание";
}
.project-card__commercialization::before {
    content: "коммерциализация";
}
.project-card__files::before {
    content: "прикрепленные файлы";
}
.change {
    border: 1px solid #2F80ED;
    color: #2F80ED;
}
.remove {
    border: 1px solid #EB5757;
    color: #EB5757;
}
div.remove:active {
    background-color: #EB5757;
}
.truncate {
    cursor: pointer;
}
.project-card__title,
.project-card__department,
.project-card__stage,
.project-card__description,
.project-card__commercialization,
.project-card__files,
.card-footer,
.tabs__button {
    padding: 12px 24px;
}
.vue-tab:active {
    box-shadow: 0px 0px 0px 4px #d6d6d68f;
    background-color: #2f80ed;
    color: #fff;
}
.button-active:active {
    box-shadow: 0px 0px 0px 4px #d6d6d68f;
    background-color: #2F80ED;
    color: #fff;
}
.nav-logo {
    border-bottom: 1px solid #0000000d;
}
.vue-tablist {
    display: flex;
}
.vue-tab {
    border: 1px solid #2F80ED;
    color: #2F80ED;
    padding: 12px 24px;
    transition: .1s all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 12px;
    cursor: pointer;
}
main > *:first-child {
    background-color: #fff;
    margin-top: 32px;
}
.vue-tabpanel {
    padding-top: 48px;
}
.accent-title {
    color: #2F80ED;
    font-weight: 700;
    font-size: 18pt;
}
.card-footer__btn {
    padding: 8px 24px;
    margin: 0 12px;
    background-color: #fff;
    transition: .1s all;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card-footer__btn {
    opacity: 1;
}
.project-fill__input {
    border: 1px solid #d6d6d68f;
    display: block;
    width: 100%;
    margin: 18px auto;
    padding: 12px 16px;
    border-radius: 12px;
}
.project-card {
    background: #fff;
    box-sizing: border-box;
    margin: 12px 0;
    box-shadow: 0px 0px 4px 0 #00000012;
    position: relative;
}
.project-card__title {
    border-bottom: 1px solid rgba(16, 15, 15, 0.08)
}
