.main-sidebar {
    background-color: #fff;
    width: 20%;
}
body {
    background-color: #f5f5f5;
    width: 100%;
}
main > *:first-child {
    background-color: #fff;
    margin-top: 32px;
}
.top-header {
    background-color: #ffffff;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}
.logo-image {
    margin: 16px auto;
}
.top-header__profile-side {
    display: flex;
    align-items: center;
}
.top-header__btn {
    display: inline;
    margin-top: -4px;
    margin-right: 32px;
    border: 2px solid #2F80ED;
    padding: 8px 24px;
    color: #2F80ED;
    font-weight: 400;
}
.profile-view {
    cursor: pointer;
}
.top-header__btn {

}
.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #555;
    padding-left: 2rem;
}
.sidebar__top {
    text-align: start;
}
.sidebar-link {
    font-size: 14pt;
    padding: 12px 0;
}
/* active color 2F80ED*/
.sidebar-link__text {
    color: #555;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
}
.sidebar-link__icon {
    display: inline-block;
    padding-bottom: 6px;
    box-sizing: border-box;
}
.sidebar__top,
.sidebar__bottom {
    display: flex;
    flex-direction: column;
}
.vertical-content {
    width: 80%;
   padding: 0 32px;
}


